<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="GoogleAnalytis" value="UA-1779958-2"/>
    <add key="GoogleAdsense" value="pub-6992217816861590"/>
    <add key="SaveTrackCount" value="0"/>
    <add key="BlogUrl" value="http://blog.priceme.co.nz/money/index.php/feed"/>
    <add key="cssVersion" value="20121018"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <connectionStrings>
    <add name="CommerceTemplate" connectionString="Data Source=12RMB-DBCENTER;Initial Catalog=Finance;User ID=sa;Password=123456priceme;"/>
  </connectionStrings>
</configuration>